body{
	font-family:"Arial", sans-serif;
	font:13px arial,sans-serif;
	margin: 0px;
}

#content{
	height:430px;
	width:320px;
}
/*
#titlebar{
	background-image:url("/images/title_gradient.png");
	background-repeat:repeat-x;
	height:50px;
	width:320px;
}*/
.iphoneWrapper{
margin: 0px auto 0px auto; 
}

.browseEvent{
height:100px;
width:320px;
}

.topRow{
height:40px;
width:320px;
}

.activityIcon{
float:left;
width:30px;
height:30px;
margin:3px;
border-radius:4px;
border:solid;
border-width:2px;
border-color:#000;
}

.participantIcon{
float:left;
width:30px;
height:30px;
margin:3px;
border-radius:4px;
}

.plusMore{
color:#aaa;
float:left;
margin: 10px 10px 0 2px;
}

.eventTime{
margin: 4px 0 0 0;
float:left;
font-size:80%;
}

.plusMe{
float:right;
width:30px;
height:30px;
border-radius:4px;
margin:3px 8px 3px 3px;
}

.eventDescription{
width:300px;
font-size:80%;
line-height:1.0em;
font-weight:300;
color:#999;
}

a.button {
    background:url("/images/btn_grad.png") 0px -25px transparent;
		background-repeat:repeat-x;
    display: inline;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    font-weight: 700;
    font-size:15px;
    text-align:center;
    height: 30px;
    line-height: 30px;
    margin: 0 0 0 10px;
    padding: 10px;
    text-shadow: 1px 1px 0 #E2E2E2;
    width: 156px;
}
/*
a.button:hover{
	background: url("/images/btn_grad.png") 0px -30px transparent;
}
a.button:active{
	background: url("/images/btn_grad.png") 0px -35px transparent;
}
a.button 
a:link{
	color: #333333;
}
a:visited {
	color: #333333;
}
a:hover {
	COLOR: #333333;
}

a:active {
	COLOR: #333333;
}
*/
a	{
	text-decoration: none;
}
