body{
	font-family:"Arial", sans-serif;
	margin: 0px;
}

#content{
}

#titlebar{
	background-image:url("/images/title_gradient.png");
	background-repeat:repeat-x;
	height:50px;
	width:320px;
}
.iphoneWrapper{
margin: 0px auto 0px auto;
height:480px;
width:320px;
}

.browseEvent{
height:65px;
width:320px;
margin: 0 0 0 0;
border:solid;
border-width:1px;
border-color: #fff #fff #777 #fff;
border-radius:0px;
}

.topRow{
height:40px;
width:320px;
}

.activityIcon{
float:left;
width:30px;
height:30px;
margin:3px;
border-radius:4px;
border:solid;
border-width:2px;
border-color:#000;
}

.participantIcon{
float:left;
width:30px;
height:30px;
margin:3px;
border-radius:4px;
}

.plusMore{
color:#aaa;
float:left;
margin: 10px 10px 0 5px;
}

.eventTime{
margin: 4px 5px 0 0;
float:right;
font-size:80%;
}

.plusMe{
float:right;
width:30px;
height:30px;
border-radius:4px;
margin:3px 8px 3px 3px;
}

.eventDescription{
width:300px;
font-size:80%;
line-height:1.0em;
font-weight:300;
color:#999;
margin: -2px 0 0 0;
}

/* shitty DRY execution */
.eventWhere{
width:300px;
font-size:80%;
line-height:1.0em;
font-weight:300;
color:#999;
margin: 0 0 0 0;
}

.message{
min-height:29px;
width:320px;
margin: 0 0 0 0;
border:solid;
border-width:1px;
border-color: #fff #fff #777 #fff;
border-radius:0px;
}

.messageContents{
margin: 2px 1px 0 0;
font-size:80%;
line-height:1.0em;
font-weight:300;
color:#999;
padding: 0 0 3px 0;
}

.messageIcon{
float:left;
width:24px;
height:24px;
margin:2px;
border-radius:3px;
}

.messageSender{
color:#222;
weight:600;
}

.messageTime{
font-size:75%;
line-height:1.0em;
font-weight:300;
color:#999;
margin: 0 0 3px 0;
}

/* Mobile UI CSS*/
/* This css changes the size of the input elements */
input {
    -webkit-text-size-adjust: 140%;
}
/* rounded corners in safari on a div */
div {
    -webkit-border-radius: 10px;
}
/* for firefox */
div {
    -moz-border-radius: 10px;
}
/* cool shadow, but maybe not useful */
h1 {
    text-shadow: 2px 2px 6px black;
}

