.browseEvent{
	
}

.activityIcon{
float:left;
width:40px;
height:40px;
}

.participantIcon{
float:left;
width:40px;
height:40px;
}

.eventTime{
width:110px;
float:right;
}

.eventDescription{
width:300px;
}

.eventWhere{
width:300px;
}