
<div style="height:50%">
	<div style="padding-top:80px">
		<center>What's your hooq?</center>
	</div>
</div>
<div style="height:50%">
	<center><a alt="Login with Facebook!" href="/login/fb_button_click">
		<img src="/images/fb_button.png"/> 
	</a></center>
</div>