<div style="height:50%">
	<div style="padding-top:100px">
		What's your hooq?
	</div>
</div>
<div style="height:50%">
<a alt="Login with Facebook!" href="/login/fb_button_click">
	<img style="top:100px" src="/images/fb_button.png"/> 
</a>
</div>