<center>
			<div style="font-size:16px;">Sorry, Hooqup currently has a restricted user base.</div>
</center>
<div style="margin-top:50px">
<center> <a class="button" href="#">Request an invite</a> </center>
</div>